.top-bar {
    box-sizing: border-box;

    margin: 0 auto;
    max-width: 960px;
    padding: 24px 28px 12px;
}

.bottom-bar {
    left: calc(50% - 160px);
    right: auto;
    bottom: 16px;
    border-radius: 48px;
    padding: 14px 16px;
    box-shadow: 0px 24px 24px -24px rgba(0, 0, 0, 0.08), 0px 0px 8px 0px rgba(0, 0, 0, 0.04);
}

.story-list {
    flex-direction: row;
    flex-wrap: wrap;
}

.story-list-filter {
    padding: 12px 28px 0;
}

.story-list_item {
    padding: 16px;
    box-sizing: border-box;
    flex-basis: 50%;
}

.screen-container {
    margin: 0 auto;
    max-width: 960px;
}


.feed-list {
    flex-direction: row;
    flex-wrap: wrap;
}

.feed-list_item {
    padding: 16px;
    box-sizing: border-box;
    flex-basis: 50%;
}

.form-account {
    width: 40%;

    & .button {
        align-self: flex-start;
    }
}

.dialog-story-preview[open],
.dialog-feed-edit[open] {
    border-radius: 32px;
    max-width: 900px;
    inset: 10vh calc(50% - 450px);
    box-shadow: 0px 24px 24px -24px rgba(0, 0, 0, 0.08), 0px 0px 8px 0px rgba(0, 0, 0, 0.04);
}

.dialog-feed-edit[open] {
    max-width: 640px;
    inset: 10vh calc(50% - 320px);
}