$background-color: #f8f8f8;
$color: #383838;
$color-second: lighten($color, 40%);

$button-background-color-default: #327feb;
$button-color-default: #ffffff;

$input-background-color-default: darken($background-color, 5%);
$input-color-default: $color;

$link-color: darken(#327feb, 5%);
$top-bar-icon-color: darken($background-color, 20%);